h1 {
    font-size: 2rem;
    text-align: center;
    margin-bottom: 1rem;
    color: a.$text-primary;
}

h2 {
    font-size: 1.5rem;
    margin-bottom: 0.8rem;
}

.main-container{
    background-color: a.$bg-secondary;
}

main{
    margin-left: var(--sidebar-width);
}

.app-topbar{
    background-color: a.$bg-secondary;
    margin-left: var(--sidebar-width);
}

.app-sidebar{
    background-color: a.$bg-primary;
    width: var(--sidebar-width);
}

.bg-primary {
    background-color: a.$bg-primary;
    &:hover {
        background-color: a.$bg-hover-primary;
    }
}

.bg-secondary {
    background-color: a.$bg-secondary;
    &:hover {
        background-color: a.$bg-hover-secondary;
    }
}

.btn-primary{
    background-color: a.$accent-color;
    border: 3px solid transparent;
    color: #ffffff;
    &:hover{
        background-color: a.$accent-color-hover;
    }
    &:focus{
        box-shadow: none;
        border: solid 3px rgba(179, 0, 0, 0.774);
        background-color: rgba(136, 0, 0, 0.774);
    }
}

.btn-secondary{
    background-color: a.$secondary-color;
    &:hover{
        background-color: a.$secondary-hover-color;
    }
}

.accordion-cards{
    background: a.$bg-cards;
    border: none;
}

.accordion-cards-title{
    color: #9fb7ff;
    font-size: 1.2rem;
    transition: all 0.2s ease;
}

.accordion-cards:hover .accordion-cards-title{
    color: #9fffcf;
    font-size: 1.3rem;
}

.card{
    background: a.$bg-cards;
    border: none;
    border-bottom: 5px solid #9fb7ff;
}

.card h2{
    color: #878787;
}

.variant__color-picker__delete{
    display: none;
    position: absolute;
    top: 25%;
    right: 5%;
    transition: all 0.2s ease;
    width: 20px;
    height: 20px;
    border-radius: 40%;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -ms-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    -webkit-border-radius: 40%;
    -moz-border-radius: 40%;
    -ms-border-radius: 40%;
    -o-border-radius: 40%;
}

.variant__color-picker:hover .variant__color-picker__delete{
    display: flex;
    background-color: #630000;
    color: a.$text-primary;
}

[type='text'], 
input:where(:not([type])), 
[type='email'], 
[type='url'], 
[type='password'], 
[type='number'], 
[type='date'], 
[type='datetime-local'], 
[type='month'], 
[type='search'], 
[type='tel'], 
[type='time'], 
[type='week'], 
[multiple], 
textarea,
select {
  background-color: rgba(125, 125, 125, 0.034);
  border: none;
  border: 1px solid a.$shadow-color;
  transition: box-shadow 0.2s ease, background-color 0.2s ease;
  -webkit-transition: box-shadow 0.2s ease, background-color 0.2s ease;
  -moz-transition: box-shadow 0.2s ease, background-color 0.2s ease;
  -ms-transition: box-shadow 0.2s ease, background-color 0.2s ease;
  -o-transition: box-shadow 0.2s ease, background-color 0.2s ease;
  backdrop-filter: blur(2px);
}